.coin {
  display: flex;
  align-items: center;

  &__data {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__percent {

  }

  &__percent_up {
    color: green;
  }

  &__percent_down {
    color: red;
  }
}
